.videoAttributeMainDiv
{
    min-width: 20%;
     max-width: 90%;
     
    /* /*min-height: 3rem; */
    padding:0.2rem;

    margin:0.2rem;


     
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

     
    background:white;/* linear-gradient(90deg,black 20%, rgba(0,0,0,0) 80%);*/
    color: black;

    box-shadow: 0 0 0.05rem 0.01rem white; 


    border-radius: 0.5rem;
}


.videoAttributeNameDiv::-webkit-scrollbar , .videoAttributeValueDiv::-webkit-scrollbar{
    max-width: 0;
    max-height: 0;
}

.videoAttributeNameDiv::-webkit-scrollbar-track,  .videoAttributeValueDiv::-webkit-scrollbar{
    max-width: 0;
    max-height: 0;
    border-radius: 10px;
}

.videoAttributeNameDiv::-webkit-scrollbar-thumb , .videoAttributeValueDiv::-webkit-scrollbar{
    border-radius: 10px;
    max-width: 0;
    max-height: 0;
}
.videoAttributeNameDiv
{
margin:0;
padding: 0;
overflow: scroll;
padding: 0.25rem 0 0.25rem 0;
}

.videoAttributeValueDiv{
    margin:0;
    padding: 0;
    overflow: scroll;
    
/*
    max-height: inherit;
    height: inherit;
    */
    /* nu poti decat cu vh */
    
}